* {
    margin: 0;
    padding: 0;
    list-style: none;

    font-family: var(--text-font);
    border-radius: var(--radius-value);

    background-color: var(--white-color);

}
:root {
    --white-color: #F5F5F5;
    --black-color: #1A1B25;
    --primary-color: #2CA6A4;
    --secondary-color: #A4AEAB;
    --tertiary-color: #A54657;
    /* --tertiary-color: #D20F2A; */
    
    --title-font: "Consolas";
    --text-font: "Montserrat";
    
    --radius-value: 20px 5px 20px 20px;
    --border-weight: 16px;
    --padding-value: 32px;
    
    font-family: "Consolas", "Montserrat";
    scroll-behavior: smooth;
    
    /**color theme : light*/
    /* color-scheme: light dark; */
    background-color: var(--white-color);
    color: var(--dark-color);
}
@media (prefers-color-scheme: dark) {
    :root {
        background-color: var(--dark-color);
        color: var(--white-color);
    }
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
    padding: 20px 15px 20px 30px;
}
body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--white-color);
    color: var(--black-color);
}
@media screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        header {
            z-index: 1000;
            padding: 16px 16px 64px 16px;
            width: calc(100% - 32px);
            height: inherit;
            position: fixed;
            top:0;
            left: 0;
            height: 200px;
            background-color: var(--white-color);
            mask: linear-gradient(rgba(0, 0, 0, 1) 78%, rgba(0, 0, 0, 0) 100%);

            .blagasse {
                 z-index: 2000;
                    display: block;
                    object-fit: fill;
            }
        }
        }
}
@media screen and (min-width: 600px) {
    header {
        min-width: 300px;
        min-height: 150px;
        ul {
            .blagasse {
                background-color: goldenrod;
                position: fixed;
                top: calc(50% - 100px);
                left: 0;
                width: 300px;
                height: 200px;
                z-index: 10000;
            }
        }
    }
}
@font-face {
    font-family: "Montserrat";
    src: url("../public/fonts/MontserratAlternates-Regular.otf"), format("opentype");
    font-weight: normal;
    font-size: normal;
}
@font-face {
    font-family: "Consolas";
    src: url("../public/fonts/CONSOLA.TTF"), format("opentype");
    font-weight: normal;
    font-size: normal;
}
