* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    
    a {
        text-decoration: none;
        color: var(--txt-color);
        &:hover {
            text-decoration: none;
            color: var(--txt-color);
        }
        &:active {
            text-decoration: none;
            color: var(--txt-color);
        }
    }
}
/*================================================================================================*/
/** Custom properties **/
/*================================================================================================*/
:root {
    --title-font: "Consolas";
    --text-font: "Montserrat";
    --txt-size: 16px;
    --spacing-value: 24px;
    
    --radius-value: 20px 5px 20px 20px;
    --radius-link : 20px;
    --border-weight: 16px;
    --padding-value: 8px;

}
/* https://www.youtube.com/watch?v=Xk12JtYG8rw&t=1579s */
:root[data-theme="light"] {
    --bg-color: #F5F5F5;
    --txt-color: #1A1B25;
    --primary-color: #2CA6A4;
    --secondary-color: #A4AEAB;
    --tertiary-color: #A54657;    
}
:root[data-theme="dark"] {
    --bg-color: #1A1B25 ;
    --txt-color: #F5F5F5;
    --primary-color: #2CA6A4;
    --secondary-color: #A4AEAB;
    --tertiary-color: #D20F2A;
}
/*================================================================================================*/
/** Layout & Media Queries **/
/*================================================================================================*/
body {
    height: 100vh;
    width: 100vw;

    .container {
        width: 95%;
        height: 95%;
    }
}
@media screen and (max-width: 600px) {
    body {
        --height-value: 250px;

        display: flex;
        justify-content: center;
        align-items: center;

            .container {
                /* padding-top: var(--padding-value); */
                display: flex;
                flex-flow: column-reverse nowrap;
            
                header {
                    display: flex;
                    flex-flow: column-reverse nowrap;
                    min-height: var(--height-value);
                    width: calc(100vw - var(--padding-value));
                    z-index: 1000;
                    position: fixed;
                    bottom: 0;
                    background-color: var(--bg-color);
                    /* padding: var(--padding-value); */
                    mask: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%); /**tenir à l'oeil*/
                        ul {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                }
                main {
                    /* in the future ==> height: calc-size(fit-content, size + 15px); <== but it is not this day T_T */
                    /*! gérer à la fin*/
                    margin-top: calc(var(--height-value) * 2);
                    margin-bottom: var(--height-value);
                    /* height: calc(200% + var(--height-value) * 2); */
                    
                    ul {
                        display: flex;
                        flex-flow: column nowrap;
                        gap: calc(var(--height-value) / 20);
                    }
                }
            }
    }
}
@media screen and (600px < width < 1200px) {
    body {
        --width-value : 200px;

        display: flex;
        justify-content: center;
        align-items: center;
        

        .container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: calc(var(--width-value) / 1.5);
            
                header {
                    padding: 0px 0px 0px var(--padding-value);
                    /* width: var(--width-value); */
                
                    li {
                        display: block;
                        /* width: calc(var(--width-value) * 2); */
                        /* max-width: 500px; */
                    }
                }
                main {
                    ul {
                        display: flex;
                        flex-flow: column nowrap;
                        gap: calc(var(--width-value) / 20);
                        li {
                            width: calc(var(--width-value) * 2);
                        }
                    }
            }
        }
    }
}
@media screen and (min-width: 1200px) {
    body {
        --width-value : 300px;

        display: flex;
        justify-content: center;
        align-items: center;
        

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: calc(var(--width-value) / 1.5);
            
                header {
                    padding: 0px 0px 0px var(--padding-value);
                    /* width: var(--width-value); */
                    /* top: calc(50% - 100px); */
                
                    li {
                        display: block;
                        /* width: var(--width-value); */
                    }
                }
                main {
                    /* margin-left: calc(var(--width-value) + var(--padding-value)); */
                    ul {
                        display: flex;
                        flex-flow: column nowrap;
                        gap: calc(var(--width-value) / 20);
                        li {
                            width: calc(var(--width-value) * 2);
                        }
                    }
            }
        }
    }
}
/*================================================================================================*/
/** General styles **/
/*================================================================================================*/
:root {
    background-color: var(--bg-color);
    color: var(--txt-color);
    
    header {
        background-color: var(--bg-color);
    }
}
/*================================================================================================*/
/** Typography **/
/*================================================================================================*/
:root {
    font-family: var(--text-font);
    font-size: var(--txt-size);
    line-height: var(--spacing-value);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
    padding: 20px 15px 20px 30px;
}
@font-face {
    font-family: "Montserrat";
    src: url("../public/fonts/MontserratAlternates-Regular.otf"), format("opentype");
    font-weight: normal;
    font-size: normal;
}
@font-face {
    font-family: "Consolas";
    src: url("../public/fonts/CONSOLA.TTF"), format("opentype");
    font-weight: normal;
    font-size: normal;
}
/*================================================================================================*/
/** Components > HEADER > .themeSwitcher🌚 **/
/*================================================================================================*/
#theme-switcher {
    margin: 12px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: none;
}
/* @media screen and (max-width:600px) {
    #theme-switcher {
        position: fixed;
        bottom: 0;
        right: 0;
    }    
} */
@media screen and (min-width:600px) {
    #theme-switcher {
        margin: 24px;
        position: fixed;
        top: 0;
        right: 0;
    }
}
/*================================================================================================*/
/** Components > HEADER > .blagasse✨ **/
/*================================================================================================*/
header {
    .blagasse {
        padding: var(--padding-value);
        border-radius: var(--radius-value);
        border: solid 7px var(--tertiary-color);

        .header-title {
            padding: var(--padding-value);
            align-items: center;
            img {
                height: 76px;
                /* width: 64px; */
                border-radius: 50%;
            }
            h1 {
                width: max-content;
                line-height: 4px;
            }
            h2 {
                line-height: 4px;
                color: var(--tertiary-color);
            }
        }

        .header-links {
            padding: var(--padding-value);
            display: flex;
            justify-content: space-evenly;
            a {
                padding: 2px 8px 2px 8px;
                border-radius: var(--radius-link);
                height: max-content;
                width: max-content;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                gap: 8px;

                background-color: var(--secondary-color);
                &:hover {
                    background-color: var(--primary-color);
                    box-shadow: 2px 2px 4px 2px var(--secondary-color);
                    transition: all 0.1s ease-in-out;
                }
                &:active {
                    background-color: var(--primary-color);
                    filter: brightness(1.2);
                    transition: all 0.1s ease-in-out;
                }
                #file-icon {
                    width: 15px;
                    height: 15px;
                }
                #logo-github {
                    width: 16px;
                    height: 16px;
                }
                #logo-linkedin {
                    width: 24px;
                    height: 24px;
                }
                p {
                    color: var(--bg-color);
                }
            }

        }
    }
}
@media screen and (max-width:600px) {
    .header-title {
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (min-width:600px) {
    .header-title {
        display: flex;
        justify-content: space-evenly;
    }
}
/*================================================================================================*/
/** Components > MAIN **/
/*================================================================================================*/
main {
    li {
        
        border-radius: var(--radius-value);
        border: solid 6px var(--primary-color);
        h2 {
            border-radius: 0px 0px 2px 2px;
            
            &:hover, &:focus {
                /* border: solid 12px var(--primary-color); */
                box-shadow: inset 0 0 64px 64px var(--primary-color);
                transition: 0.35s;
            }
        }
        .panel {
            display: none;
        }
    }
}
