body {
    display: grid;
    grid-template-columns: 300px 3fr;
    grid-template-rows: none;
    /* gap: var(--padding-value); */

    @media screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;

        header {
            position: sticky;
            top: 0;
        }
    } 
     header {
        background-color: light-dark(var(--white-color), var(--dark-color));
        min-width: 300px;
        max-width: 1000px;

     }
     main {
        min-width: 300px;
        max-width: 1000px;
     }
}