


main {
    padding: var(--padding-value);

    ul {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        gap: 20px;
        
        li:not(:last-child) {
            h2 {
                /* border-radius: 20%; */
                cursor: pointer;
                text-transform: capitalize;
                word-spacing: -12px;
                
                
                
            }
        }
        
        .panel {
            display: none;
            overflow: hidden;
            padding: var(--padding-value);
        }
}
}